@model PetGrooming.Models.Pet
@{
    ViewBag.Title = "Delete";
}   
    
    <!--To do: deleting function through POST method
        <form method="POST" action="/Pet/Show_Delete/@Model.PetID">
        <h2>Are you sure you want to delete @Model.PetName the @Model.Species.Name?</h2>
        <input type="hidden" name="@Model.PetID" value="@Model.PetID" />
        <button type="submit" value="Submit">Yes, I do</button>
    </form>
    
<a href="/Pet/List">No, go back to List</a>-->

