
@{
    ViewBag.Title = "Add";
}
<h2>Add a New Species</h2>
<form method="POST" action="/Species/Add">
    <div><span>Name: </span><input id="SpeciesName" type="text" name="SpeciesName" /></div>
    <input type="submit" value="Add a Species">
</form>
<div><a href="/Species/List">Back to List</a></div>

