@model PetGrooming.Models.Species

@{
    ViewBag.Title = "Show";
}
<!--Future improvement: Adding column showing number of pet in each species-->
<h2>Details information about @Model.Name</h2>
<div>Name : @Model.Name</div>
<div><a href="/Species/Delete/@Model.SpeciesID">Delete the species</a></div>
<div><a href="/Species/Update/@Model.SpeciesID">Update information</a></div>
<div><a href="/Species/List">Back to List</a></div>


